<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <section class="preview">
        <img class="image-detail" src="<%= image %>" alt="" />

        <section class="autor">
          <section class="info-project">
            <p class="subtitle"><%= repo %></p>
            <hr class="line" />

            <h2 class="title"><%= name %></h2>
            <p class="slogan"><%= slogan %></p>
            <p class="desc"><%= descproject %></p>
            <section class="technologies">
              <p class="text"><%= technologies %></p>
              <p class="text"><%= demo %></p>
            </section>
          </section>

          <section class="info-autor">
            <img class="image2" src="<%= photo %>" alt="" />
            <p class="job"><%= job %></p>
            <p class="name"><%= autor %></p>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
